<!--The content below is only a placeholder and can be replaced.-->

<!-- The HTML contains two text boxes and a button -->
<div style="text-align:center">
  <h1>Session-6, Assignment-4</h1>
    <br>
    <div class="container">
      <div class="row">
          <div class="col-md-12 form-group">
            <!-- Binding value from component to text box values using two-way binding -->

            <!-- Two local template variables are created each for first name & last name -->
              <input type="text" placeholder="First Name" class="form-control" [(ngModel)]="firstName" #fname>
              <br><br>
              <input type="text" placeholder="Last Name" class="form-control" [(ngModel)]="lastName" #lname>
              <br><br>
              <!-- This button calls the component method on click. Method is bound using event binding. -->
              <!-- The event method takes first name & last name values from text boxes using local template variables -->
              <button class="btn btn-block" (click)="assignToTitle(fname.value,lname.value)">Show Title</button>
              <br><br>
              <!-- Below, result is displayed from new component -->
              <!-- Child component property is bound to "title" of parent -->
              <S6A4-app-root [childTitle]=title></S6A4-app-root>
          </div>      
      </div>
  </div>
</div>